*.pyc
*.csv
*.DS_Store
mask_decoder_v1.py
mask_decoder_pup.py
mask_decoder_mla.py
sam_original.py
train_visualize.py

visualsampler.py
inference.py
image_encoder_v1.py

__pycache__/
utils/
save/
pretrained/
data/